.container {
  width: 95vw;
  max-width: 800px;
  min-height: 550px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(154, 154, 154, 0.5);
  border-radius: 10px;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.leftSide {
  height: 100%;
  width: 60%;
  padding: 10px;
  position: absolute;
  left: 0;
  animation: leftSide 0.3s linear;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.rightSide {
  background-color: var(--primary-color);
  height: 100%;
  width: 40%;
  position: absolute;
  right: 0;
  z-index: 1;
  animation: rightSide 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.title {
  color: var(--primary-color) !important;
  text-align: center;
}
.iconContainer {
  text-align: center;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.loginForm {
  width: 80%;
}

.forgotPWD {
  float: right;
}

.loginFormButton {
  width: 100%;
}
.divider{display: none !important;}

@keyframes reverse {
  from {
    flex-direction: row-reverse;
  }
}

@keyframes leftSide {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes rightSide {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 95vw;
  }
  .rightSide {
    display: none;
  }
  .leftSide {
    width: 100%;
  }
  .loginForm {
    width: 100%;
  }  .forgotPWD {
    padding: 0;
  }
  .divider{display: flex !important;}
}
