
.container {
  width: 737px;
  height: 520px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(154, 154, 154, 0.5);
  border-radius: 10px;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  /* display: flex; */
  position: relative;
  /* flex-direction: row-reverse; */
  /* animation: reverse 2s; */

}

.leftSide {
    /* background-color: aquamarine;  */
    height: 100%;
    width: 60%;
    padding: 10px;
    /* order: 2; */
    position: absolute;
    left: 0;
    animation: leftSide 1s linear;
    
}

.rightSide {
    background-color: var(--primary-color);
    height: 100%;
    width: 40%;
    /* order: 1; */
    position: absolute;
    right: 0;
    z-index: 1;
    animation: rightSide 1s linear;
}

@keyframes reverse {
    from {
        flex-direction: row-reverse;
    }
}

@keyframes leftSide {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes rightSide {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0%);
    }
}
