@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/* global variables */
:root {
  --primary-color: #3699ff;
  --secondary-color: #9a9a9a;
  --error-color: #f64e60;
  --success-color: #50cd89;
  --warning-color: #faad14;
  --background-color: #f3f6f9;
  --light-color: #ffffff;
  --dark-color: #000000;
  --hover-color: rgba(54, 153, 255, 0.5);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Code Pro", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* [class*="error"] {
  color: #f64e60;
  border-color: #f64e60;
} */

/* button style */
[class*="btn-"] {
  display: inline-block;
  position: relative;
  padding: 6px 15px;
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: padding-right 0.5s ease-out;
}

[class*="btn-"]:not(.loading):after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 10px var(--light-color);
}
[class*="btn-"]:active {
  box-shadow: none;
  top: 1px;
}
[class*="btn-"]:not(.loading):active:after {
  box-shadow: 0px 0px 0px var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-dar);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  box-shadow: 0px 0px 8px var(--hover-color);
}

.btn-ghost {
  background-color: var(--light-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-ghost:hover {
  box-shadow: 0px 0px 8px var(--hover-color);
}

/*btn on loading */
.loading::after {
  background-color: currentColor;
  content: "";
  padding: 0.5em;
  margin: 0 5px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  mask-size: fill;
  clip-path: padding-box inset(0.55em 0);
  animation: spin 0.6s infinite linear, grow 0.3s forwards ease-out;
  mask-image: url('/assets/icons/Progress.svg');
}

@keyframes spin {
  to {
    transform: rotate(359deg);
  }
}
@keyframes grow {
  to {
    width: 14px;
    height: 14px;
    margin-top: -8px;
    right: 13px;
  }
}

[class*="icon-prefix"]::before,
[class*="icon-suffix"]::after{
  background-color: currentColor;
  content: "";
  padding: 0.5em;
  margin: 0 5px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  mask-size: fill;
  clip-path: padding-box inset(0.55em 0);
}
