.container {
    background-color: var(--light-color);
    border-radius: 6px;
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search {
    width: 100%;
    background-color: #464E5F;
    padding: 10px 5px;
    border-radius: 6px;
}

.FriendsList {
    height: 100%;
    /* background-color: green; */
    min-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: ltr;
    
  }