.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0px 0px 8px rgba(154, 154, 154, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.card {
  display: flex;
  background-color: var(--background-color);
  border-radius: 10px;
  transition: 0.4s ease-out;
  position: relative;
}

.card:not(:first-child) {
  margin-top: -70px;
}

.card:hover:not(:last-child) {
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  transform: translateY(70px);
  transition: 0.4s ease-out;
}

.container:hover > .card:not(:hover)::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--background-color);
  border-radius: 10px;
  opacity: 0.5;
}


