.header {
  background-color: var(--primary-color) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px 0 5px;
  border-radius: 0 0 6px 6px;
  /* width: 100%; */
}

.trigger {
  display: none;
}
.leftDiv {
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  gap: 20px;
  align-items: center;
  /* flex-direction: row; */
  justify-content: left;
}

.rightDiv {
  width: 50%;
  height: 100%;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  gap: 30px;
  /* justify-items: end; */
  justify-content: right;
}

.username {
  display: inline-block;
}

.logo {
  height: 100%;
  /* line-height: 0 !important; */
}

@media screen and (max-width: 576px) {
  .header {
    padding: 0 5px !important;
  }
  .leftDiv {
    display: none;
  }
  .trigger {
    display: block;
  }
  .username {
    display: none;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1600px) {
}
