.container{
    padding: 10px 20px;
}

.tabIcon {display: none;}

.tabText{color: var(--primary-color);}


@media screen and (max-width: 576px){
    .tabIcon{display: inline-block;}
    .tabText{display: none;}
}

@media screen and (min-width: 576px){}

@media screen and (min-width: 768px){}

@media screen and (min-width: 992px){}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1600px){}