.container {
  width: 737px;
  height: 520px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(154, 154, 154, 0.5);
  border-radius: 10px;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.leftSide {
  background-color: var(--primary-color);
  height: 100%;
  width: 40%;
  /* order: 2; */
  position: absolute;
  left: 0;
  z-index: 1;
  animation: leftSide 0.3s linear;
}

.rightSide {
  /* background-color: aquamarine;  */
  height: 100%;
  width: 60%;
  /* order: 1; */
  position: absolute;
  right: 0;
  animation: rightSide 0.3s linear;
}
@keyframes leftSide {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes rightSide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
