.container {
  width: 95vw;
  max-width: 800px;
  min-height: 650px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(154, 154, 154, 0.5);
  border-radius: 10px;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.leftSide {
  background-color: var(--primary-color);
  height: 100%;
  width: 40%;
  position: absolute;
  left: 0;
  z-index: 1;
  animation: leftSide 0.3s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.rightSide {
  height: 100%;
  width: 60%;
  position: absolute;
  right: 0;
  animation: rightSide 0.3s linear;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding-top: 90px; */
  /* padding-bottom: 30px; */
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title {
    color: var(--primary-color) !important;
    text-align: center;
}
.iconContainer {
    text-align: center;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.loginForm {
    width: 80%;
}


.loginFormButton {
    width: 100%;
  }

  .divider{display: none !important;}
 



@keyframes leftSide {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes rightSide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 700px) {
  .leftSide{display: none;}
  .rightSide{width: 100%;}
  .loginForm{width: 100%;}
  .divider{display: flex !important;}
}
