.container {
  padding: 20px;
}

.table {
  padding: 6px;
  border-radius: 6px !important;
  box-shadow: 0 0 10px 1px var(--shadwo-color);
  background-color: #464e5f;
}

.tableRowLight {
  background-color: rgba(70, 78, 95, 0.3);
}

.tableRowDark {
  background-color: rgba(70, 78, 95, 0.8);
}

.avatar {
    display: flex;
    align-items: flex-end;
    color: var(--dark-color);
    gap: 5px;
}

@media screen and (max-width: 576px){
  .container{padding: 0;}
  .username{display: none;}
}

@media screen and (min-width: 576px){
  .username{display: inline-block;}
}

@media screen and (min-width: 768px){}

@media screen and (min-width: 992px){}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1600px){}