.container {
  /* background-color: blue; */
  /* margin: 5px; */
  width: 100%;
  position: relative;
}

.left {
  /* background-color: aqua; */
  display: flex;
  justify-items: start;
}

.right {
  /* background-color: bisque; */
  display: flex;
  justify-content: flex-end;
}

.messageContainer {
    /* background-color: blue; */
    display: flex;
    align-items: flex-end;
    min-width: 40%;
    max-width: 60%;
    padding: 5px;
    gap: 2px;
  }
  
  .right .messageContainer {
    flex-direction: row-reverse;
  }
  
  .left .messageContainer{
    /* background-color: blueviolet; */
    /* display: flex; */
  }
  
  .messageText {
  border: 1px solid;
  background-color: beige;
  width: 100%;
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
}

.right .messageText {
  /* flex: unset; */
  align-items: flex-end;
  border-radius: 10px 10px 0px 10px;
}

.left .messageText {
  border-radius: 10px 10px 10px 0px;
}

.messageAvatar {
}

.messageDate {
    /* align-self: end; */
}

.messageStatus {
}
