.layout {
    background-color: var(--background-color) !important;
}

.header {
    background-color: var(--primary-color) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    height: 100%;
    /* line-height: 0 !important; */
}

.contentContainer {
    /* padding: 20px; */
}

.sectionGameInfo {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.sectionGameInfoTettel {
    text-align: center;
    color: var(--light-color) !important;
}


.sectionGameInfoText{
    width: 60%;
    color: var(--light-color) !important;
    font-size: 14px;
    font-weight: bold;
}

.footer {
    background-color: var(--primary-color) !important;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .sectionGameInfoLogo{
        display: none;
    }

    .sectionGameInfoText{
        width: 100%;
        padding: 10px;
    }

    .footer{
        justify-content: space-around;
        padding: 10px;
    }

    .footer span:first-of-type{
        display: none;
    }

}