
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: auto; */
    /* background-color: black; */
    padding-bottom: 10px;
}

.cover {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 0 10px 1px var(--shadwo-color);
}

.statisticsData {
    width: 100%;
    display: flex;
    padding: 0 15px;
    gap: 30px;
    margin-top: -80px;
    z-index: 1;
    /* background-color: aqua; */
}

.statistics {
    flex-basis: 350px;
}

.data {
    width: 100%;
}

@media screen and (max-width: 576px){
    .statisticsData{
        flex-direction: column;
        padding: 0 5px;
        margin-top: -218px;
    }
    .cover{height: 300px;}
}

@media screen and (min-width: 576px){
    .statisticsData{
        flex-direction: column;
        padding: 0 5px;
    }
}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){
    .statisticsData{
        flex-direction: row;
        padding: 0 15px;
        gap: 10;
    }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1600px){}

