.layout {
  background-color: var(--background-color) !important;
  min-height: 100vh !important;
}

/* .layoutContent {
}

.contentContainer {
} */

.content {
  margin: 5px;
}

.layoutFooter {
  margin: 0px 5px 5px 5px;
  border-radius: 8px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(154, 154, 154, 0.8);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.sectionGameInfo {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.sectionGameInfoTettel {
  text-align: center;
  color: var(--light-color) !important;
}

.sectionGameInfoText {
  width: 60%;
  color: var(--light-color) !important;
  font-size: 14px;
  font-weight: bold;
}

.footer {
  background-color: var(--primary-color) !important;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .search {
    display: none;
  }
  .sectionGameInfoLogo {
    display: none;
  }

  .sectionGameInfoText {
    width: 100%;
    padding: 10px;
  }

  .layoutFooter {
    margin: 5px;
  }

  .footer {
    justify-content: space-around;
    padding: 10px;
  }

  .footer span:first-of-type {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .contentContainer {
    padding: 5px;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1600px) {
}
