.container{
    overflow: hidden;
    padding: 0 15px;
    height: 100%;
    /* background-color: aqua; */
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* min-height: calc(100% - 10px); */
    /* min-height: calc(100% - 10px); */
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.box::-webkit-scrollbar {
    display: none;
}

.Input{    
    border-left: 6px solid #3699FF;
    border-radius: 6px 0 0 6px !important;
    width: 100%;
}

