.container{
    overflow: hidden;
    padding: 0 15px;
    height: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.box::-webkit-scrollbar {
    display: none;
}

.Input{    
    border-left: 6px solid #3699FF;
    border-radius: 6px;
}

